
ion-content{
  --background: #121212;
  font-family: 'Gil Sans';
}
ion-toolbar{
  --background: #121212;
}

.header-menu{
  width: 100%;
  height: auto; 
   background-color: 
   #1e1e1e; 
   border-radius: 25px;
}

.opening{
  width: 100%;
  height: 100%;
}
.map-home{
  width: 80%;
  height: 50%; 
  margin-left: 10%;
  margin-top: 5%;
  background-color: 
   #1e1e1e; 
   border-radius: 25px;
}