
ion-content{
  --background: #121212;
  font-family: 'Gil Sans';
}
.header-menu{
  width: 100%;
  height: auto; 
   background-color: 
   #1e1e1e; 
   border-radius: 25px;
}
ion-toolbar{
  --background: #121212;
  background-color: 
  #1e1e1e; 
}
