
ion-content{
    --background: #121212;
    font-family: 'Gil Sans';
  }
  ion-toolbar{
    --background: #121212;
  }
  
  .header-menu{
     background-color: 
     #1e1e1e; 
     border-radius: 25px;
  }